tqdm
numpy
scipy
pandas
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
torch==1.11.0
sentencepiece
transformers[sentencepiece,tokenizers,torch]==4.24.0
protobuf
